Package: snaplinux-mp3
Version: 2.8-1
Section: sound
Priority: optional
Architecture: all
Depends: python3, python3-tk, python3-pip, ffmpeg, python3-mutagen, python3-pil, python3-pil.imagetk
Maintainer: Rolando <tu_correo@ejemplo.com>
Description: Descargador de audio desde YouTube con interfaz gráfica
 SnapLinux MP3 descarga audio desde YouTube en varios formatos
 (MP3, M4A, FLAC, OPUS, WAV), incrusta portada y letra automáticamente,
 y permite editar metadatos antes de guardar.
